<form 
  [formGroup] = form
  (ngSubmit)="submit()"
>
  <div>
    <span>Скопируйте сюда код встраивания видео YouTube</span>
    <input type="text" formControlName="src">  

    <ng-container  *ngIf="form.get('src').invalid && 
    form.get('src').touched"
    >        
      <small class="validate-message--error" 
      *ngIf="form.get('src').errors.invalidIframe">
        Некорректно скопирован адрес видео
      </small>
    </ng-container>
  </div>

  <div>
    <span>Описание к видео</span>
    <textarea formControlName="description"></textarea>

    <ng-container  *ngIf="form.get('description').invalid && 
    form.get('description').touched"
    >        
      <small class="validate-message--error" 
      *ngIf="form.get('description').errors.maxlength">
      Максимальная длина {{form.get('description').errors.maxlength.requiredLength}} символов, ваше сообщение {{form.get('description').errors.maxlength.actualLength}} символов
      </small>
    </ng-container>
  </div>

  <input type="submit" [disabled]="form.invalid" value="Сохранить">

</form>
<button (click)="delete()">Удалить подсекцию</button>
