header {
  background-color: #1B1B1B;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%; }
  header .head-links, header .head-links-main, header .head-links-cabinet {
    margin: 0 70px; }
    header .head-links-main {
      color: #E6E6E6;
      font-size: 25px;
      text-transform: uppercase; }
    header .head-links-cabinet {
      color: #1B1B1B; }
